export BBL_IAAS=aws
export BBL_AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
export BBL_AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
export BBL_AWS_REGION=eu-west-1
export BBL_STATE_DIRECTORY=${PWD}/state
